<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div style="text-align: center;">
        <ul class="pagination pagination-sm" style="margin: 0 0 20px">
            <li wicket:id="previous"><a wicket:id="previousLink">&lt;</a></li>
            <li wicket:id="first"><a wicket:id="firstLink">1</a></li>
            <li wicket:id="dots" class="disabled"><span>...</span></li>
            <li wicket:id="navigation">
                <a wicket:id="pageLink"/>
            </li>
            <li wicket:id="next"><a wicket:id="nextLink">&gt;</a></li>
        </ul>
    </div>
</wicket:panel>
</html>