<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div class="row">
        <div class="col-md-4">
            <div wicket:id="treeHeader" class="row" style="margin: 10px 0 0; border-bottom: 1px solid #ddd;">
                <div class="col-xs-9" style="padding-left: 5px;">
                    <div class="org-table-header">
                        <span>Org. Unit Hierarchy</span>
                    </div>
                </div>

                <div class="row" style="float: right">
                    <a class="btn btn-sm" wicket:id="editRoot">
                        <i class="fa fa-pencil-square-o fa-fw fa-lg" />
                    </a>
                    <a class="btn btn-sm" wicket:id="deleteRoot">
                        <i class="fa fa-times fa-fw fa-lg" />
                    </a>
                    <a class="btn btn-sm" wicket:id="treeExpand">
                        <i class="fa fa-expand fa-fw fa-lg" />
                    </a>
                    <a class="btn btn-sm" wicket:id="treeCollapse">
                        <i class="fa fa-compress fa-fw fa-lg" />
                    </a>
                </div>
            </div>

            <div wicket:id="treeContainer" class="org-tree-container">
                <div wicket:id="tree"/>
            </div>
        </div>

        <div class="col-md-8">
            <form class="clearfix form-horizontal" wicket:id="form">
                <div class="org-table-header">
                    <span>Children Org. Units</span>
                </div>
                <div wicket:id="childrenTable"/>

                <div class="org-table-header">
                    <span>Children Org. Units</span>
                </div>
                <div wicket:id="memberTable"/>
            </form>
        </div>
    </div>

</wicket:panel>