<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="modalContent" wicket:id="content">
        <dl class="dl-horizontal">
            <dt>
                <label>Share In Federation</label>
            </dt>
            <dd>
                <input wicket:id="shareInFederation" type="checkbox" class="input-sm"/>
            </dd>
        </dl>

        <div wicket:id="table" />

        <p align="center">
            <a class="btn btn-default btn-sm" wicket:id="cancelButton">Cancel</a>
        </p>
    </div>
</wicket:panel>