<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="modalContent" wicket:id="content">

        <dl class="dl-horizontal">
            <dt>
                <label>Name</label>
            </dt>
            <dd>
                <span wicket:id="name"/>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                <label>Federation Member</label>
            </dt>
            <dd>
                <span wicket:id="member"/>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                <label>Resource</label>
            </dt>
            <dd>
                <span wicket:id="resource"/>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                <label>Protected</label>
            </dt>
            <dd>
                <span wicket:id="protected"/>
            </dd>
        </dl>

        <p align="center">
            <a class="btn btn-default btn-sm" wicket:id="continueButton">Ok, Continue</a>
        </p>

    </div>
</wicket:panel>